<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.message.dao.StandardMapper">
	<select id="getMessageList" resultType="Message">
		select * from standard
		<trim prefix="where" prefixOverrides="and || or">
			<if test="keys != null">
				and `keys` like CONCAT ('%',#{keys},'%')
			</if>
		</trim>
		limit ${currentPageNo},${pageSize}
	</select>
		
	<select id="getCount" parameterType="String" resultType="int">
		select count(1) from standard
		<trim prefix="where" prefixOverrides="and || or">
			<if test="keys != null">
				and `keys` like CONCAT ('%',#{keys},'%')
			</if>
		</trim>
	</select>
		
	<select id="getStdNum" resultType="Message">
		select * from standard
		<trim prefix="where" prefixOverrides="and || or">
			<if test="stdNum != null">
				and `keys` like CONCAT ('%',#{stdNum},'%')
			</if>
		</trim>
	</select>	
	
	<select id="getMessageById" resultType="Message">
		select * from standard where id = #{id}
	</select>
	
	<insert id="messageAdd" parameterType="Message">
		insert into standard (stdNum,zhname,version,`keys`,releaseDate,implDate,packagePath)
		values (#{stdNum},#{zhname},#{version},#{keys},#{releaseDate},#{implDate},#{packagePath})
	</insert>
	
	<update id="messageMod" parameterType="Message">
		update standard
		<trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
			<if test="zhname !=null">zhname=#{zhname},</if>
			<if test="version !=null">version=#{version},</if>
			<if test="keys !=null">`keys`=#{keys},</if>
			<if test="releaseDate !=null">releaseDate=#{releaseDate},</if>
			<if test="implDate !=null">implDate=#{implDate},</if>
			<if test="packagePath !=null">packagePath=#{packagePath},</if>
		</trim>
	</update>
		
	<delete id="messageDel" parameterType="Integer">
		delete from standard where id = #{id}
	</delete>
	
	
</mapper>
